body {
    background-color: hsl(250, 85%, 70%);
    color: hsl(120, 85%, 65%);
}

h1 {
    font-size: 85px;
    text-align: center;
    background-color: hsl(250, 85%, 72%);
    width: 400px;
    padding: 10px;
    margin: auto
}

h3 {
    font-family: "Times New Roman", serif;
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

a, h6 {
    color: hsl(120, 85%, 65%);
    text-align: center;
}

.none {
    list-style-type: none;
    display: block;
}

.none a {
    background-color: rgb(3, 0, 1);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
  }
  
  .none a:hover {
    background-color: rgb(128, 14, 181);
    color: #fff;
  }

  #index-list {
    height: 30px;
    width: 85px;
    padding: 8px 16px;
    display: block;
    margin: 50px auto;

  }